*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 613px;
    height: 490px;
    border: 1px solid black;
    margin: auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
}
img{
    width: 100%;
}
.infobar{
    position: absolute;
    width: 220px;
    height: 36px;
    background-color: rgba(24,148,160,.8);
    left: 0%;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px 20px;
    color: white;
   
}
.cardnew{
    position: absolute;
    bottom: 0;
    width: 613px;
    height: 90px;
    background-color: black;
    color: white;
    padding: 20px;

}
.cardimg{
    top: 0;
    position: absolute;
    height: 411px;
}
.left{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: white;
    top: 40%;
    text-align: center;
}
.right{
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: white;
    top: 40%;
    right: 0;
    text-align: center;
}

